.idea/
.vscode/
.run/
*.iml

nbactions.xml
**/nbactions.xml

**/classes/
**/target/
build/
**/logs/
*.log
*.log.gz
**/jacoco.exec
**/pom.xml.versionsBackup
/language/gen/*
/.mvn/settings.xml
*/src/main/generated/
**/.attach_pid*
